<!DOCTYPE html>
<html>

<head>
    <title>TSS Autofill</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">
    <link href={{ url_for('static', filename='styles/autofill.css') }} type="text/css" rel="stylesheet" />
    <!-- Cookie when you eventually see this the shoe is on porsche -->
    <script>
        function save_settings() {
            qt_type = document.getElementById("qt_type").value.toString();
            document.cookie = "qt_default=" + qt_type + "; expires=Sat, 18 Dec 2100 12:00:00 UTC; path=/;"

            if (qt_type != "auto_fill") {
                alert("Settings have been saved! Using: '" + qt_type + "' as quick task default.");
            } else {
                af_cookies = {
                    'af_email': document.getElementById("email").value.toString(),
                    'af_first_name': document.getElementById("first_name").value.toString(),
                    'af_last_name': document.getElementById("last_name").value.toString(),
                    'af_address_1': document.getElementById("address_1").value.toString(),
                    'af_address_2': document.getElementById("address_2").value.toString(),
                    'af_city': document.getElementById("city").value.toString(),
                    'af_country': document.getElementById("country").value.toString(),
                    'af_province': document.getElementById("province").value.toString(),
                    'af_zip': document.getElementById("zip").value.toString(),
                    'af_phone': document.getElementById("phone").value.toString()
                }

                cookie_string = "";
                for (var key in af_cookies) {
                    document.cookie = key + "=" + af_cookies[key] + "; expires=Sat, 18 Dec 2100 12:00:00 UTC; path=/;"
                }
            alert("Setting have been saved! Using the given information for mobile autofill.")
            }
        }
    </script>
</head>

<body>
    <div class="main-container">
        <h1>TSS Autofill Management</h1>
        <div class="form-container">
            <form class="form-style">
                <div class="personal-details-container container">
                    <span>Personal Details</span>
                    <div class="inner-container">
                        <div class="input-block">
                            <label for="first_name">First Name</label>
                            <input id="first_name" type="text">
                        </div>
                        <div class="input-block">
                            <label for="last_name">Last Name</label>
                            <input id="last_name" type="text">
                        </div>
                        <div class="input-block">
                            <label for="email">Email Address</label>
                            <input id="email" type="email">
                        </div>
                        <div class="input-block">
                            <label for="phone">Phone Number</label>
                            <input id="phone" type="text">
                        </div>
                    </div>
                </div>

                <div class="shipping-details-container container">
                    <span>Shipping Details</span>
                    <div class="inner-container">
                        <div class="input-block">
                            <label for="address_1">Address Line 1</label>
                            <input id="address_1" type="text">
                        </div>
                        <div class="input-block">
                            <label for="address_2">Address Line 2 (Optional)</label>
                            <input id="address_2" type="text">
                        </div>
                        <div class="input-block">
                            <label for="city">City</label>
                            <input id="city" type="text">
                        </div>
                        <div class="input-block">
                            <label for="province">State/Province</label>
                            <input id="province" type="text">
                        </div>
                        <div class="input-block">
                            <label for="zip">Zip/Postcode</label>
                            <input id="zip" type="text">
                        </div>
                        <div class="input-block">
                            <label for="country">Country</label>
                            <div class="select-container">
                                <select id="country">
                                    <option value="United States" data-code="US">United States</option>
                                    <option value="Canada" data-code="CA">Canada</option>
                                    <option value="Australia" data-code="AU">Australia</option>
                                    <option value="United Kingdom" data-code="GB">United Kingdom</option>
                                    <option value="Singapore" data-code="SG">Singapore</option>
                                    <option disabled="disabled" value="---">---</option>
                                    <option value="Afghanistan" data-code="AF">Afghanistan</option>
                                    <option value="Aland Islands" data-code="AX">Åland Islands</option>
                                    <option value="Albania" data-code="AL">Albania</option>
                                    <option value="Algeria" data-code="DZ">Algeria</option>
                                    <option value="Andorra" data-code="AD">Andorra</option>
                                    <option value="Angola" data-code="AO">Angola</option>
                                    <option value="Anguilla" data-code="AI">Anguilla</option>
                                    <option value="Antigua And Barbuda" data-code="AG">Antigua &amp; Barbuda</option>
                                    <option value="Argentina" data-code="AR">Argentina</option>
                                    <option value="Armenia" data-code="AM">Armenia</option>
                                    <option value="Aruba" data-code="AW">Aruba</option>
                                    <option value="Austria" data-code="AT">Austria</option>
                                    <option value="Azerbaijan" data-code="AZ">Azerbaijan</option>
                                    <option value="Bahamas" data-code="BS">Bahamas</option>
                                    <option value="Bahrain" data-code="BH">Bahrain</option>
                                    <option value="Bangladesh" data-code="BD">Bangladesh</option>
                                    <option value="Barbados" data-code="BB">Barbados</option>
                                    <option value="Belarus" data-code="BY">Belarus</option>
                                    <option value="Belgium" data-code="BE">Belgium</option>
                                    <option value="Belize" data-code="BZ">Belize</option>
                                    <option value="Benin" data-code="BJ">Benin</option>
                                    <option value="Bermuda" data-code="BM">Bermuda</option>
                                    <option value="Bhutan" data-code="BT">Bhutan</option>
                                    <option value="Bolivia" data-code="BO">Bolivia</option>
                                    <option value="Bosnia And Herzegovina" data-code="BA">Bosnia &amp; Herzegovina
                                    </option>
                                    <option value="Botswana" data-code="BW">Botswana</option>
                                    <option value="Bouvet Island" data-code="BV">Bouvet Island</option>
                                    <option value="Brazil" data-code="BR">Brazil</option>
                                    <option value="British Indian Ocean Territory" data-code="IO">British Indian Ocean
                                        Territory
                                    </option>
                                    <option value="Virgin Islands, British" data-code="VG">British Virgin Islands
                                    </option>
                                    <option value="Brunei" data-code="BN">Brunei</option>
                                    <option value="Bulgaria" data-code="BG">Bulgaria</option>
                                    <option value="Burkina Faso" data-code="BF">Burkina Faso</option>
                                    <option value="Burundi" data-code="BI">Burundi</option>
                                    <option value="Cambodia" data-code="KH">Cambodia</option>
                                    <option value="Republic of Cameroon" data-code="CM">Cameroon</option>
                                    <option value="Canada" data-code="CA">Canada</option>
                                    <option value="Cape Verde" data-code="CV">Cape Verde</option>
                                    <option value="Bonaire, Sint Eustatius and Saba" data-code="BQ">Caribbean
                                        Netherlands
                                    </option>
                                    <option value="Cayman Islands" data-code="KY">Cayman Islands</option>
                                    <option value="Central African Republic" data-code="CF">Central African Republic
                                    </option>
                                    <option value="Chad" data-code="TD">Chad</option>
                                    <option value="Chile" data-code="CL">Chile</option>
                                    <option value="China" data-code="CN">China</option>
                                    <option value="Christmas Island" data-code="CX">Christmas Island</option>
                                    <option value="Cocos (Keeling) Islands" data-code="CC">Cocos (Keeling) Islands
                                    </option>
                                    <option value="Colombia" data-code="CO">Colombia</option>
                                    <option value="Comoros" data-code="KM">Comoros</option>
                                    <option value="Congo" data-code="CG">Congo - Brazzaville</option>
                                    <option value="Congo, The Democratic Republic Of The" data-code="CD">Congo -
                                        Kinshasa
                                    </option>
                                    <option value="Cook Islands" data-code="CK">Cook Islands</option>
                                    <option value="Costa Rica" data-code="CR">Costa Rica</option>
                                    <option value="Croatia" data-code="HR">Croatia</option>
                                    <option value="Cuba" data-code="CU">Cuba</option>
                                    <option value="Curaçao" data-code="CW">Curaçao</option>
                                    <option value="Cyprus" data-code="CY">Cyprus</option>
                                    <option value="Czech Republic" data-code="CZ">Czech Republic</option>
                                    <option value="Côte d'Ivoire" data-code="CI">Côte d’Ivoire</option>
                                    <option value="Denmark" data-code="DK">Denmark</option>
                                    <option value="Djibouti" data-code="DJ">Djibouti</option>
                                    <option value="Dominica" data-code="DM">Dominica</option>
                                    <option value="Dominican Republic" data-code="DO">Dominican Republic</option>
                                    <option value="Ecuador" data-code="EC">Ecuador</option>
                                    <option value="Egypt" data-code="EG">Egypt</option>
                                    <option value="El Salvador" data-code="SV">El Salvador</option>
                                    <option value="Equatorial Guinea" data-code="GQ">Equatorial Guinea</option>
                                    <option value="Eritrea" data-code="ER">Eritrea</option>
                                    <option value="Estonia" data-code="EE">Estonia</option>
                                    <option value="Ethiopia" data-code="ET">Ethiopia</option>
                                    <option value="Falkland Islands (Malvinas)" data-code="FK">Falkland Islands</option>
                                    <option value="Faroe Islands" data-code="FO">Faroe Islands</option>
                                    <option value="Fiji" data-code="FJ">Fiji</option>
                                    <option value="Finland" data-code="FI">Finland</option>
                                    <option value="France" data-code="FR">France</option>
                                    <option value="French Guiana" data-code="GF">French Guiana</option>
                                    <option value="French Polynesia" data-code="PF">French Polynesia</option>
                                    <option value="French Southern Territories" data-code="TF">French Southern
                                        Territories
                                    </option>
                                    <option value="Gabon" data-code="GA">Gabon</option>
                                    <option value="Gambia" data-code="GM">Gambia</option>
                                    <option value="Georgia" data-code="GE">Georgia</option>
                                    <option value="Germany" data-code="DE">Germany</option>
                                    <option value="Ghana" data-code="GH">Ghana</option>
                                    <option value="Gibraltar" data-code="GI">Gibraltar</option>
                                    <option value="Greece" data-code="GR">Greece</option>
                                    <option value="Greenland" data-code="GL">Greenland</option>
                                    <option value="Grenada" data-code="GD">Grenada</option>
                                    <option value="Guadeloupe" data-code="GP">Guadeloupe</option>
                                    <option value="Guatemala" data-code="GT">Guatemala</option>
                                    <option value="Guernsey" data-code="GG">Guernsey</option>
                                    <option value="Guinea" data-code="GN">Guinea</option>
                                    <option value="Guinea Bissau" data-code="GW">Guinea-Bissau</option>
                                    <option value="Guyana" data-code="GY">Guyana</option>
                                    <option value="Haiti" data-code="HT">Haiti</option>
                                    <option value="Heard Island And Mcdonald Islands" data-code="HM">Heard &amp;
                                        McDonald
                                        Islands
                                    </option>
                                    <option value="Honduras" data-code="HN">Honduras</option>
                                    <option value="Hong Kong" data-code="HK">Hong Kong SAR China</option>
                                    <option value="Hungary" data-code="HU">Hungary</option>
                                    <option value="Iceland" data-code="IS">Iceland</option>
                                    <option value="India" data-code="IN">India</option>
                                    <option value="Indonesia" data-code="ID">Indonesia</option>
                                    <option value="Iran, Islamic Republic Of" data-code="IR">Iran</option>
                                    <option value="Iraq" data-code="IQ">Iraq</option>
                                    <option value="Ireland" data-code="IE">Ireland</option>
                                    <option value="Isle Of Man" data-code="IM">Isle of Man</option>
                                    <option value="Israel" data-code="IL">Israel</option>
                                    <option value="Italy" data-code="IT">Italy</option>
                                    <option value="Jamaica" data-code="JM">Jamaica</option>
                                    <option value="Japan" data-code="JP">Japan</option>
                                    <option value="Jersey" data-code="JE">Jersey</option>
                                    <option value="Jordan" data-code="JO">Jordan</option>
                                    <option value="Kazakhstan" data-code="KZ">Kazakhstan</option>
                                    <option value="Kenya" data-code="KE">Kenya</option>
                                    <option value="Kiribati" data-code="KI">Kiribati</option>
                                    <option value="Kosovo" data-code="XK">Kosovo</option>
                                    <option value="Kuwait" data-code="KW">Kuwait</option>
                                    <option value="Kyrgyzstan" data-code="KG">Kyrgyzstan</option>
                                    <option value="Lao People's Democratic Republic" data-code="LA">Laos</option>
                                    <option value="Latvia" data-code="LV">Latvia</option>
                                    <option value="Lebanon" data-code="LB">Lebanon</option>
                                    <option value="Lesotho" data-code="LS">Lesotho</option>
                                    <option value="Liberia" data-code="LR">Liberia</option>
                                    <option value="Libyan Arab Jamahiriya" data-code="LY">Libya</option>
                                    <option value="Liechtenstein" data-code="LI">Liechtenstein</option>
                                    <option value="Lithuania" data-code="LT">Lithuania</option>
                                    <option value="Luxembourg" data-code="LU">Luxembourg</option>
                                    <option value="Macao" data-code="MO">Macau SAR China</option>
                                    <option value="Macedonia, Republic Of" data-code="MK">Macedonia</option>
                                    <option value="Madagascar" data-code="MG">Madagascar</option>
                                    <option value="Malawi" data-code="MW">Malawi</option>
                                    <option value="Malaysia" data-code="MY">Malaysia</option>
                                    <option value="Maldives" data-code="MV">Maldives</option>
                                    <option value="Mali" data-code="ML">Mali</option>
                                    <option value="Malta" data-code="MT">Malta</option>
                                    <option value="Martinique" data-code="MQ">Martinique</option>
                                    <option value="Mauritania" data-code="MR">Mauritania</option>
                                    <option value="Mauritius" data-code="MU">Mauritius</option>
                                    <option value="Mayotte" data-code="YT">Mayotte</option>
                                    <option value="Mexico" data-code="MX">Mexico</option>
                                    <option value="Moldova, Republic of" data-code="MD">Moldova</option>
                                    <option value="Monaco" data-code="MC">Monaco</option>
                                    <option value="Mongolia" data-code="MN">Mongolia</option>
                                    <option value="Montenegro" data-code="ME">Montenegro</option>
                                    <option value="Montserrat" data-code="MS">Montserrat</option>
                                    <option value="Morocco" data-code="MA">Morocco</option>
                                    <option value="Mozambique" data-code="MZ">Mozambique</option>
                                    <option value="Myanmar" data-code="MM">Myanmar (Burma)</option>
                                    <option value="Namibia" data-code="NA">Namibia</option>
                                    <option value="Nauru" data-code="NR">Nauru</option>
                                    <option value="Nepal" data-code="NP">Nepal</option>
                                    <option value="Netherlands" data-code="NL">Netherlands</option>
                                    <option value="Netherlands Antilles" data-code="AN">Netherlands Antilles</option>
                                    <option value="New Caledonia" data-code="NC">New Caledonia</option>
                                    <option value="New Zealand" data-code="NZ">New Zealand</option>
                                    <option value="Nicaragua" data-code="NI">Nicaragua</option>
                                    <option value="Niger" data-code="NE">Niger</option>
                                    <option value="Nigeria" data-code="NG">Nigeria</option>
                                    <option value="Niue" data-code="NU">Niue</option>
                                    <option value="Norfolk Island" data-code="NF">Norfolk Island</option>
                                    <option value="Korea, Democratic People's Republic Of" data-code="KP">North Korea
                                    </option>
                                    <option value="Norway" data-code="NO">Norway</option>
                                    <option value="Oman" data-code="OM">Oman</option>
                                    <option value="Pakistan" data-code="PK">Pakistan</option>
                                    <option value="Palestinian Territory, Occupied" data-code="PS">Palestinian
                                        Territories
                                    </option>
                                    <option value="Panama" data-code="PA">Panama</option>
                                    <option value="Papua New Guinea" data-code="PG">Papua New Guinea</option>
                                    <option value="Paraguay" data-code="PY">Paraguay</option>
                                    <option value="Peru" data-code="PE">Peru</option>
                                    <option value="Philippines" data-code="PH">Philippines</option>
                                    <option value="Pitcairn" data-code="PN">Pitcairn Islands</option>
                                    <option value="Poland" data-code="PL">Poland</option>
                                    <option value="Portugal" data-code="PT">Portugal</option>
                                    <option value="Qatar" data-code="QA">Qatar</option>
                                    <option value="Reunion" data-code="RE">Réunion</option>
                                    <option value="Romania" data-code="RO">Romania</option>
                                    <option value="Russia" data-code="RU">Russia</option>
                                    <option value="Rwanda" data-code="RW">Rwanda</option>
                                    <option value="Samoa" data-code="WS">Samoa</option>
                                    <option value="San Marino" data-code="SM">San Marino</option>
                                    <option value="Sao Tome And Principe" data-code="ST">São Tomé &amp; Príncipe
                                    </option>
                                    <option value="Saudi Arabia" data-code="SA">Saudi Arabia</option>
                                    <option value="Senegal" data-code="SN">Senegal</option>
                                    <option value="Serbia" data-code="RS">Serbia</option>
                                    <option value="Seychelles" data-code="SC">Seychelles</option>
                                    <option value="Sierra Leone" data-code="SL">Sierra Leone</option>
                                    <option value="Singapore" data-code="SG">Singapore</option>
                                    <option value="Sint Maarten" data-code="SX">Sint Marteen</option>
                                    <option value="Slovakia" data-code="SK">Slovakia</option>
                                    <option value="Slovenia" data-code="SI">Slovenia</option>
                                    <option value="Solomon Islands" data-code="SB">Solomon Islands</option>
                                    <option value="Somalia" data-code="SO">Somalia</option>
                                    <option value="South Africa" data-code="ZA">South Africa</option>
                                    <option value="South Korea" data-code="KR">South Korea</option>
                                    <option value="South Sudan" data-code="SS">South Sudan</option>
                                    <option value="Spain" data-code="ES">Spain</option>
                                    <option value="Sri Lanka" data-code="LK">Sri Lanka</option>
                                    <option value="Saint Barthélemy" data-code="BL">St. Barthélemy</option>
                                    <option value="Saint Helena" data-code="SH">St. Helena</option>
                                    <option value="Saint Kitts And Nevis" data-code="KN">St. Kitts &amp; Nevis</option>
                                    <option value="Saint Lucia" data-code="LC">St. Lucia</option>
                                    <option value="Saint Martin" data-code="MF">St. Martin</option>
                                    <option value="Saint Pierre And Miquelon" data-code="PM">St. Pierre &amp; Miquelon
                                    </option>
                                    <option value="St. Vincent" data-code="VC">St. Vincent &amp; Grenadines</option>
                                    <option value="Sudan" data-code="SD">Sudan</option>
                                    <option value="Suriname" data-code="SR">Suriname</option>
                                    <option value="Svalbard And Jan Mayen" data-code="SJ">Svalbard &amp; Jan Mayen
                                    </option>
                                    <option value="Swaziland" data-code="SZ">Swaziland</option>
                                    <option value="Sweden" data-code="SE">Sweden</option>
                                    <option value="Switzerland" data-code="CH">Switzerland</option>
                                    <option value="Syria" data-code="SY">Syria</option>
                                    <option value="Taiwan" data-code="TW">Taiwan</option>
                                    <option value="Tajikistan" data-code="TJ">Tajikistan</option>
                                    <option value="Tanzania, United Republic Of" data-code="TZ">Tanzania</option>
                                    <option value="Thailand" data-code="TH">Thailand</option>
                                    <option value="Timor Leste" data-code="TL">Timor-Leste</option>
                                    <option value="Togo" data-code="TG">Togo</option>
                                    <option value="Tokelau" data-code="TK">Tokelau</option>
                                    <option value="Tonga" data-code="TO">Tonga</option>
                                    <option value="Trinidad and Tobago" data-code="TT">Trinidad &amp; Tobago</option>
                                    <option value="Tunisia" data-code="TN">Tunisia</option>
                                    <option value="Turkey" data-code="TR">Turkey</option>
                                    <option value="Turkmenistan" data-code="TM">Turkmenistan</option>
                                    <option value="Turks and Caicos Islands" data-code="TC">Turks &amp; Caicos Islands
                                    </option>
                                    <option value="Tuvalu" data-code="TV">Tuvalu</option>
                                    <option value="United States Minor Outlying Islands" data-code="UM">U.S. Outlying
                                        Islands
                                    </option>
                                    <option value="Uganda" data-code="UG">Uganda</option>
                                    <option value="Ukraine" data-code="UA">Ukraine</option>
                                    <option value="United Arab Emirates" data-code="AE">United Arab Emirates</option>
                                    <option value="United States" data-code="US">United States</option>
                                    <option value="Uruguay" data-code="UY">Uruguay</option>
                                    <option value="Uzbekistan" data-code="UZ">Uzbekistan</option>
                                    <option value="Vanuatu" data-code="VU">Vanuatu</option>
                                    <option value="Holy See (Vatican City State)" data-code="VA">Vatican City</option>
                                    <option value="Venezuela" data-code="VE">Venezuela</option>
                                    <option value="Vietnam" data-code="VN">Vietnam</option>
                                    <option value="Wallis And Futuna" data-code="WF">Wallis &amp; Futuna</option>
                                    <option value="Western Sahara" data-code="EH">Western Sahara</option>
                                    <option value="Yemen" data-code="YE">Yemen</option>
                                    <option value="Zambia" data-code="ZM">Zambia</option>
                                    <option value="Zimbabwe" data-code="ZW">Zimbabwe</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="usage-container">
                    <label for="usage">Usage</label>
                    <select id="qt_type">
                        <option value="auto_fill">Mobile Autofill</option>
                        <option value="cyber">Cybersole QT</option>
                        <option value="dashe">Dashe QT</option>
                        <option value="project_destroyer">Project Destroyer QT</option>
                        <option value="what_bot">What Bot? QT</option>
                        <option value="kick_station">Kick Station QT</option>
                    </select>
                    <button type="submit" onclick=save_settings()>Save Settings</button>
                </div>
            </form>
        </div>
        <p>
            <b>Important:</b>
            Autofill information only needs to be provided if you are using the 'Mobile Autofill' option for Shopify
            purposes or intend to use
            SJS ATC links, otherwise you just need to select the bot that you will be using for quick tasks and then
            save
            your settings.
            <b>This page will use cookies to store your given information.</b>
        </p>
    </div>
</body>

</html>