<!DOCTYPE html>
<html>
<head>
    <title>Solebox Login Management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Exo:400,700" rel="stylesheet">
    <link href={{ url_for('static', filename='styles/login.css') }} type="text/css" rel="stylesheet" />
    <script>
        function login() {
            var form = document.getElementById("login_form");
            form.submit();
        }
    </script>
</head>

<body>
    <div class="container">
        <h1>Solebox Login Management</h1>
        <p>
            <b>Important:</b>
            The form below will enable you to remain logged into Solebox without the need for an auto-refresher. Please
            note that you can only remain logged into ONE account at any given time. If you wish to do this for more
            than one account, it is recommended that you open alternative user sessions for your browser.
            <b>Clearing your browser cookies or cookies on www.solebox.com will negate this.</b>
        </p>
        <form class="form-style" id="login-form" action="https://www.solebox.com/index.php?lang=1" method="post">
            <label for="email">Email Address</label>
            <input type="text" name="lgn_usr" autocomplete="on">
            <label for="password">Password</label>
            <input type="password" name="lgn_pwd" autocomplete="on">
            <input type="hidden" name="lgn_cook" value="1">
            <input type="hidden" name="cl" value="account">
            <input type="hidden" name="fnc" value="login_noredirect">
            <input type="hidden" name="listtype" value="">
            <input type="hidden" name="actcontrol" value="account">
            <button type="submit" onclick=login()>Login</button>
        </form>
    </div>
</body>
</html>