<!DOCTYPE html>
<html>
<head>
    <title>TSS Monitors</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible">

    <style>
        body, html {
            padding: 0;
            margin: 0;
            font-family: Sans-serif;
        }
    </style>
</head>
<body>
    {{{ body }}}
</body>
</html>