
<style>
	#monitor-wrapper {
		width: 100%;
		max-width: 800px;
		margin: 0 auto;
	}
</style>

<div id="monitor-wrapper">
	<header>
		<img src="https://cdn.discordapp.com/embed/avatars/1.png" id="logo" alt="{{ site }} logo" />
		<h1>{{ site }}</h1>
	</header>

	<form id="form">
		<select class="channels" id="webhooks">
			<option>Loading ...</option>
		</select>
		<button type="submit" id="save">Save</button>
	</form>

	<table>
		<tr>
			{{#each columns}}
				<th>{{ this }}</th>
			{{/each}}
			<th>remove<</th>
		</tr>

		{{#each rows}}
			<tr data-id={{this}}>
				{{#each this}}

					{{#ifEquals @key "webhook"}}
						<td><select class="channels" onChange="update(this)"><option>Loading ...</option></select></td>
					{{else}}
						<td>{{ this }}</td>
					{{/ifEquals}}
				{{/each}}
				<td>remove</td>
			</tr>
		{{/each}}
	</table>
</div>


<script>
	window.onload = () => {
		const form = document.getElementById("form")
		const webhooks = document.getElementById("webhooks")

		fetch(`api/monitors/{{ site }}`).then(res => res.json()).then(config => {
			logo.setAttribute('src', config.default.webhook.avatar)
			fetch(`api/discord/webhooks`).then(res => res.json()).then(res => {
				const whs = Object.keys(res)
				const html = whs.map(key => `<option value="${res[key].id}" ${config.default.webhook.id == res[key].id ? 'selected' : null}>${res[key].channel}</option>`)
				
				for (const channel of document.getElementsByClassName("channels")) {
					channel.innerHTML = html
				}
			})
		})

		form.addEventListener('submit', (e) => {
			fetch(`/api/monitors/{{ site }}/webhook`, {
				method: 'PUT',
				headers: {
					'content-type': 'application/json'
				},
				body: JSON.stringify({
					webhookId: webhooks.value,
				})		
			}).then(res => res.json()).then(res => {
				logo.setAttribute('src', res.avatar)
			})

			e.preventDefault()
		})

		function update(e) {
			const id = e.parentElement.parentElement.getAttribute('data-id')
			const webhook = e.value


			fetch(`/api/monitors/{{ site }}/products/${id}`, {
				method: 'PUT',
				headers: {
					'content-type': 'application/json'
				},
				body: JSON.stringify({
					webhookId: webhooks.value,
				})	
			}).then(res => res.json()).then(res => {
				// ...
			})
		}
	}
</script>