<!doctype html>
<html lang="en">
   <head>
	  <title>TSS Monitoring Dashboard</title>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	  <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
	  <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
	  <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>
   </head>
   <body>
	  <section class="ftco-section">
		 <div class="container">
			<h2 class="text-center">TSS Monitoring Dashboard</h2>
			<div class="form-group">
			   <select name="database" id="database" class="form-control input-lg" data-live-search="true" title="Select Database">
			   </select>
			</div>
			<div class="form-group">
			   <select name="collection" id="collection" class="form-control input-lg" data-live-search="true" title="Select collection">
			   </select>
			</div>
			<div class="row">
			   <div class="col-md-12">
				  <div class="table-wrap">
					 <table class="table table-responsive-xl" id="products" name="products">
						<thead>
						   <tr>
							  <th>&nbsp;</th>
							  <th>Product ID</th>
							  <th>Store</th>
							  <th>Added By</th>
							  <!-- <th>Date Added</th> -->
							  <th>Actions</th>
						   </tr>
						</thead>
						<tbody>

						</tbody>
					 </table>
				  </div>
			   </div>
			</div>
		 </div>
	  </section>
	  <script src="{{ url_for('static',filename='js/main.js') }}"></script>

	  <!-- Modal HTML -->
	<div id="myModal" class="modal fade">
		<div class="modal-dialog modal-confirm">
			<div class="modal-content">
				<div class="modal-header flex-column">
					<div class="icon-box">
						<i class="material-icons">&#xE5CD;</i>
					</div>						
					<h4 class="modal-title w-100">Are you sure?</h4>	
	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<p>Do you really want to delete this porduct? This process cannot be undone.</p>
				</div>
				<div class="modal-footer justify-content-center">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-danger">Delete</button>
				</div>
			</div>
		</div>
	</div>  
   </body>
</html>
<script>
	$(document).ready(function(){
   
		$('#database').selectpicker();
   
	 	$('#collection').selectpicker();
   
	 	load_data('databases');
	   
		function load_data(type, database = '')
		{
		    $.ajax({
				url:"/get_databases",
			 	method:"POST",
			 	data:{type:type, database:database},
			 	dataType:"json",
			 	success:function(data)
			 	{
			   		var html = '';
			   		if(type == 'databases')
					{
						for(var count = 0; count < data.length; count++)
					    {
							$('#database').append('<option value="'+data[count]+'">'+data[count]+'</option>');
					    }
					  	$('#database').selectpicker('refresh');
					} else {
						for(var count = 0; count < data.length; count++)
					    {
							$('#collection').append('<option value="'+data[count]+'">'+data[count]+'</option>');
					   	}
					   	$('#collection').selectpicker('refresh');
					}           
			 	}
		   })
	 	};

	 	function load_products(database, collection)
		{
			console.log("HELLLO");
		    $.ajax({
				url:"/get_products",
			 	method:"POST",
			 	data:{database:database, collection:collection},
			 	dataType:"json",
			 	success:function(data)
			 	{
			   		for(var count = 0; count < data.length; count++)
				    {
					    $("#products tbody").append('<tr id=' + data[count].product + ' class="alert" role="alert">' +
							'<td><label class="checkbox-wrap checkbox-primary"><input type="checkbox"><span class="checkmark"></span></label></td>' +
							'<td class="d-flex align-items-center">' +
								'<div class="img" style="background-image: url(https://i8.amplience.net/i/jpl/sz_397238_a?qlt=92&w=750&h=580&v=1&fmt=webp);"></div>' +
								'<div class="pl-3 email">' +
									'<span>' + data[count].product + '</span>' +
									'<span>Added: ' + data[count].added + '</span>' + 
								'</div>' +
							'</td>' +
							'<td>' + data[count].store + '</td>' +
							'<td>' + data[count].user.id + '</td>' +
							// '<td class="status"><span class="active">Active</span></td>' +
							'<td><button href="" class="delete" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></button></td>' +
						   '</tr>')
				    }
				    $('button.delete').on('click', function (e) {
					    e.preventDefault();
					    var id = $(this).closest('tr').data('id');
					    $('#myModal').data('id', id).modal('show');
					}); 
			 	}
		   })
	 	}	
   
		$(document).on('change', '#database', function(){
		   var database = $('#database').val();
		   load_data('collections', database);
		});

		$(document).on('change', '#collection', function(){
		   var database = $('#database').val();
		   var collection = $('#collection').val();
		   load_products(database, collection);
		});
   	});
</script>