@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

body {
  font-family: "Nunito", sans-serif;
  background: rgb(34, 34, 34);
  color: white;
  display: grid;
  align-items: center;
  justify-content: center;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

h1 {
  color: #e255a7;
  font-weight: 900;
}

.main-container {
  width: 80%;
  margin-left: 10%;
  max-width: 740px;
}

.form-container {
  background: rgb(44, 44, 44);
  padding: 20px;
  border-radius: 10px;
}

input {
  border: none;
  background: rgb(61, 61, 61);
  padding: 10px 15px;
  color: rgb(207, 207, 207);
  border-radius: 5px;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: rgb(61, 61, 61);
  padding: 10px 15px;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
}

.select-container {
  padding-top: 10px;
}

input,
label {
  display: block;
}

label {
  color: white;
  margin-left: 10px;
}

.inner-container {
  padding: 30px;
}

.input-block {
  width: 45%;
  display: inline-block;
  margin: 10px;
  margin-left: 1.5%;
}

.input-block input {
  width: 80%;
}

.container {
  border: 1px solid #e255a7;
  border-radius: 10px;
  line-height: 0;
  text-align: left;
  margin-top: 40px;
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
}

.personal-details-container {
  margin-top: 0px;
}

.container span {
  position: absolute;
  top: -2px;
  left: 20px;
  display: inline;
  border: 2px solid #2b253f;
}

.usage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.usage-container select {
  margin-right: 20px;
}

.usage-container button {
  border: none;
  background: #f63ca9;
  padding: 10px 20px;
  color: white;
  border-radius: 25px;
  font-size: 15px;
}

b {
  color: orangered;
  font-weight: bold;
}

@media only screen and (max-width: 573px) {
  .input-block {
    width: 100%;
  }

  .usage-container {
    display: grid;
  }

  .usage-container select {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .select-container {
    padding-top: 10px;
    width: 100%;
  }
}
