@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

body {
  font-family: "Nunito", sans-serif;
  background: rgb(34, 34, 34);
  color: white;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.container {
  width: 80%;
  margin-left: 10%;
  max-width: 740px;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  color: #e255a7;
  font-weight: 900;
}

b {
  font-family: 'Exo', sans-serif;
  color: #ff0000;
}

#login-form {
  border: 2px solid white;
  border-radius: 25px;
  padding: 1em 0em;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-left: 25%;
}

input {
  border: none;
  background: rgb(61, 61, 61);
  padding: 10px 15px;
  color: rgb(207, 207, 207);
  border-radius: 5px;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  text-align: center;
}

label {
  padding: 5px 0;
  font-weight: bold;
}

button {
  margin-top: 2em;
  border: none;
  background: #f63ca9;
  padding: 10px 20px;
  color: white;
  border-radius: 25px;
  font-size: 15px;
}

@media only screen and (max-width: 580px) {
  #login-form {
    border: 2px solid white;
    border-radius: 25px;
    padding: 1em 0em;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 0px;
  }
}
