h1 {
    text-align: center;
    font-family: 'Exo', sans-serif;
    /* color: #ffffff; */
}

p {
    font-family: 'Exo', sans-serif;
    /* color: #ffffff; */
}

b {
    font-family: 'Exo', sans-serif;
    color: #ff0000;
}

.form-style {
    max-width: 400px;
    margin: 50px auto;
    background: #fff;
    border-radius: 2px;
    padding: 0;
    font-family: 'Exo', sans-serif;
}

.form-style h1 {
    display: block;
    text-align: center;
    padding: 0;
    margin: 0px 0px 20px 0px;
    color: #5C5C5C;
    font-size: x-large;
}


.form-style ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.form-style li {
    display: block;
    padding: 9px;
    border: 1px solid #DDDDDD;
    margin-bottom: 30px;
    border-radius: 3px;
}

.form-style li:last-child {
    border: none;
    margin-bottom: 0px;
    text-align: center;
}

.form-style li>label {
    display: block;
    float: left;
    margin-top: -19px;
    background: #FFFFFF;
    height: 14px;
    padding: 2px 5px 2px 5px;
    color: #B9B9B9;
    font-size: 14px;
    overflow: hidden;
    font-family: 'Exo', sans-serif;
}

.form-style input[type="text"],
.form-style input[type="date"],
.form-style input[type="datetime"],
.form-style input[type="email"],
.form-style input[type="number"],
.form-style input[type="search"],
.form-style input[type="time"],
.form-style input[type="url"],
.form-style input[type="password"],
.form-style textarea,
.form-style select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    padding-top: 2px;
    padding-left: 2px;
    font-family: 'Exo', sans-serif;
}

.form-style input[type="text"]:focus,
.form-style input[type="date"]:focus,
.form-style input[type="datetime"]:focus,
.form-style input[type="email"]:focus,
.form-style input[type="number"]:focus,
.form-style input[type="search"]:focus,
.form-style input[type="time"]:focus,
.form-style input[type="url"]:focus,
.form-style input[type="password"]:focus,
.form-style textarea:focus,
.form-style select:focus {}

.form-style li>span {
    background: #F3F3F3;
    display: block;
    padding: 3px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    color: #C0C0C0;
    font-family: 'Exo', sans-serif;
    font-size: 11px;
}

.form-style textarea {
    resize: none;
}

.form-style input[type="submit"],
.form-style input[type="button"] {
    background: #2471FF;
    border: none;
    padding: 10px 20px 10px 20px;
    border-bottom: 3px solid #5994FF;
    border-radius: 3px;
    color: #D2E2FF;
}

.form-style input[type="submit"]:hover,
.form-style input[type="button"]:hover {
    background: #6B9FFF;
    color: #fff;
}